.add-field-button {
	box-sizing: border-box;
	display: block;
	flex: 0 0 auto;
	align-self: center;
	width: 214px;
	min-width: 214px;
	height: 40px;
	margin-top: 295px;
	margin-left: -6px;
	font: 700 14px "Plus Jakarta Sans", sans-serif;
	color: white;
	cursor: pointer;
	background: #369eff;
	border: none;
	border-radius: 20px;
 }